<app-sidebar></app-sidebar>
<p-card header="Producto">
    <p class="m-0">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit vero voluptatum voluptatibus laborum? Ullam, voluptatem. Sit eum debitis possimus cupiditate iusto in, asperiores fuga reprehenderit perferendis eligendi, eveniet consectetur veniam.
    </p>
</p-card>
<p-card header="Lista Clientes">
    <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Category</th>
                <th>Quantity</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{ product.code }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.quantity }}</td>
            </tr>
        </ng-template>
    </p-table>
</p-card>